<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>loginIn</description>
    <display-name>loginIn</display-name>
    <servlet-name>loginIn</servlet-name>
    <servlet-class>com.baizhi.servlet.LoginIn</servlet-class>
  </servlet>
  <servlet>
    <description>LoginOut</description>
    <display-name>LoginOut</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>com.baizhi.servlet.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <description>GetCaptcha</description>
    <display-name>GetCaptcha</display-name>
    <servlet-name>GetCaptcha</servlet-name>
    <servlet-class>com.baizhi.servlet.GetCaptcha</servlet-class>
  </servlet>
  <servlet>
    <description>ListEmp</description>
    <display-name>ListEmp</display-name>
    <servlet-name>ListEmp</servlet-name>
    <servlet-class>com.baizhi.servlet.ListEmp</servlet-class>
  </servlet>
  <servlet>
    <description>AddEmp</description>
    <display-name>AddEmp</display-name>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>com.baizhi.servlet.AddEmp</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteEmp</description>
    <display-name>DeleteEmp</display-name>
    <servlet-name>DeleteEmp</servlet-name>
    <servlet-class>com.baizhi.servlet.DeleteEmp</servlet-class>
  </servlet>
  <servlet>
    <description>UpdateEmp</description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>com.baizhi.servlet.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginIn</servlet-name>
    <url-pattern>/loginIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/LoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCaptcha</servlet-name>
    <url-pattern>/GetCaptcha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListEmp</servlet-name>
    <url-pattern>/ListEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/AddEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmp</servlet-name>
    <url-pattern>/DeleteEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.baizhi.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>